<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="Bank Rates">
    <meta name="author" content="Hemanta Nandi">

    <title>Bank Rates</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/style.css">
  </head>

  <body>
    <section>
      <h1>Bank Rates</h1>
      <h4>Type "Loan Emi" , "Fixed Deposit Compound" , "Maturity to Deposit Amount Calculator" , "Recurring Calculator" ,  "Interest rate of Federal Bank" etc - Bot will give you reply </h4>

      

      <div>
           <p>You said: <em class="output-you">...</em></p>
          <p>Bot replied: <em class="output-bot">...</em></p>
		   <p>Type Your Heart Out: <input type="text" class="output-you1"></input><button><i class="fa fa-microphone"></i></button> </p>
		  
      </div>
    </section>

    <script src="/socket.io/socket.io.js"></script>
    <script src="js/script.js"></script>
	
  </body>
</html>
